<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <title>Song Requests</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <a href="/login" class="btn btn-info btn-lg"><span class="glyphicon glyphicon-log-out" class="text-sm-right"></span> Log out </a>
  <style>
  .button {
  background-color:#566573 ;
  border:1px solid #566573 ;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-family:Arial;
  font-size:15px;
  padding:5px 8px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
}
.button:hover {
  background-color:#959089;
}
.button:active {
  position:relative;
  top:1px;
}

.nav {
  background-color: #36393B; 
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  color:#ffffff;
  font-size: 20px;
  padding: 8px;
}

</style>
 </head>

  <body style = "background-color: #F2AA4CFF;
">
  <h1 style="text-align:center;
">Song Requests</h1>
<ul class="nav">
  <li><a href="reservations">Reservations</a></li>
  <li><a href="reqsongs">Song Requests</a></li>
</ul>
 
  
  <table style = "width: 100%;
" cellspacing="1" cellpadding="5" border="1" class="table table-dark table-striped">
    <tr style = "background-color: #52BE80;
">
    <th>Requested Song</th>
    <th>Status</th>
    <th>Action</th>
  </tr>


  <% data.forEach(function(reqsongs){ %>
     <tr>
       <td><%= reqsongs.reqsong %></td>
       <td><%= reqsongs.status %></td>
       <td><a href="editreqsong/<%= reqsongs.doc_id %>" class="button">Edit</a> | <a href="delete_songreq/<%= reqsongs.doc_id %>" class="button">Delete</a></td>
     </tr>
  <% }); %>

	</table>

 
 

  </body>

</html>